services:
  postgres:
    image: postgres:latest
    environment:
      POSTGRES_USER: ${DATABASE_USERNAME_DEVELOPMENT}
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD_DEVELOPMENT}
      POSTGRES_DB: ${DATABASE_NAME_DEVELOPMENT}
    ports:
      - '5444:5432'
    env_file:
      - .env
    depends_on:
      - network-setup
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - ${NETWORK_NAME}

  network-setup:  
    image: alpine:latest
    command: echo "Network setup complete"
    networks:
      - ${NETWORK_NAME}

networks:
  school-bell-network:
    name: ${NETWORK_NAME}
    driver: bridge

volumes:
  postgres-data:
    driver: local
